@model Fiap.StackOverflow.Web.Models.QuestionModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <button asp-action="" value="Vote" onclick="onAddVote()" runat="server">Vote</button>
            @Html.DisplayFor(model => model.Vote)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <h4>Answers</h4>
    <dl class="dl-horizontal">
        <dt>
            @foreach (var item in Model.Answers)
            {

                @Html.DisplayFor(model => item.Description)

            }
        </dt>
    </dl>

</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id  }) |
</div>

