@model Fiap.StackOverflow.Web.Models.QuestionModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="margin-top: 80px;">
    <div id="wrapper">
        <div id="content" style="margin-bottom: 20px;">
            <div class="posts" style="margin-bottom: 50px;">
                <div class="question_list">
                    <span class="answers_total">
                        <a href="index.html#commentarea">@Model.Answers.Count </a>   Respostas
                    </span>

                    <h1>@Html.DisplayFor(model => model.Title)</h1>
                    <p>
                        <span class="user">Por: <strong><a href="#" title="Posts by sd,jns jv" rel="author">@Model.Author.Name</a></strong> </span>
                        <span class="views"><b>@Model.ViewCount</b> visualizações</span>
                        <span class="ptags">
                            @foreach (var tag in Model.QuestionTags)
                            {
                                var text = $"[{tag.Tag?.Value}]";
                                <a href="#" rel="tag">
                                    @Html.DisplayFor(tagItem => text)
                                </a>
                            }
                            <br>
                        </span>		<span class="pcate">
                            <a href="#" rel="category tag">@Model.Category.Name</a>
                        </span>
                    </p>
                </div> <!-- question #end -->
                <div class="question-desc">
                    <p>@Model.Description</p>

                </div>
            </div>
            <h2 style="margin-bottom: 20px;">Respostas:</h2>
            @if (Model.Answers.Any())
            {
                <ol class="commentlist" style="margin-bottom: 0px;">

                    @foreach (var answer in Model.Answers)
                    {
                        <li class="comment wrap threaded clearfix  " id="comment-37">
                            <div class="votes">
                                <p><span id="resposta-@answer.Id" class="bnone">@answer.Votes</span> <img style="padding: 0px; border: none; cursor: pointer;" class="up-thumb" id="up-37" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/2_14_up.png" alt="Thumb up" onclick="likeAnswer('@answer.Id');" title=""> <span id="karma-37-up" style=";" class="up_points">0 <b>Votes</b></span>&nbsp;<img style="padding: 0px; border: none; cursor: pointer;" class="down-thumb" id="down-37" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/2_14_down.png" alt="Thumb down" onclick="unlikeAnswer('@answer.Id')" title=""> <span id="karma-37-down" style=";" class="down_points">0 <b>Votes</b></span></p>
                            </div>
                            <div class="content_left">
                                <p>@answer.Description</p>
                                <p class="author">
                                    <img name="user_photo" class="agent_photo" id="user_photo" src="https://demo.templatic.com/answers/wp-content/themes/Answers/images/avatar_post.png" width="38" height="38">
                                    <span class="auhtor_name">
                                        <strong>
                                            <a href="#">@answer.Author.Name</a>
                                        </strong>
                                    </span>
                                </p>
                            </div>


                            <span class="comm-reply">
                            </span>
                        </li><!-- #comment-## -->
                    }
                </ol>
            }
            else
            {
                <div class="alert alert-info">
                    <h3 class="text-center">
                        Não há nenhuma resposta no momento. Seja o primeiro a responder !
                    </h3>
                </div>
            }
            <div id="respond" style="padding-top: 0px;">
                <h3>Responder Questão</h3>
                @if (ViewBag.NaoLogado == null)
                {

                    <form id="commentform">
                        <p class="clearfix">
                            <label> Sua resposta</label>
                            <textarea name="Description" id="Description" rows="10" cols="10" tabindex="4" class="textarea" required=""></textarea>
                        </p>


                        <script language="javascript" type="text/javascript">
                        </script>
                        <div class="aleft">
                            <input type="hidden" name="QuestionId" value="@Model.Id" id="QuestionId">
                            <input type="hidden" name="AuthorId" id="AuthorId" value="@ViewBag.AuthorId">

                        </div>

                        <div id="comment_captcha"></div>            <div id="recaptcha-submit-btn-area">&nbsp;<input name="submit" type="submit" id="submit" class="" value="Enviar" tabindex="6"></div>
                        <noscript>
                            <style type='text/css'>
                                #submit {
                                    display: none;
                                }
                            </style>
                            <input name="submit" type="submit" id="submit-alt" tabindex="6"
                                   value="Submit Comment" />
                        </noscript>
                    </form>

                }
                else
                {
                    <div class="alert alert-info">
                        <h3 class="text-center">
                            É necessário estar logado para inserir uma resposta !
                        </h3>
                    </div>
                }
                <div class="fix"></div>
            </div>
        </div> <!-- content #end -->
        <div id="sidebar">

            <a href="@Url.Action("Create", "Question")" class="b_askquestions">Faça uma Pergunta</a>



            <div class="widget">
                <div class="textwidget"><a href="http://www.fiap.com.br" target="_blank"><img src="http://vtexday.vtex.com/wp-content/uploads/2018/02/FIAP-logo-.jpg" style="max-width:300px;"></a></div>
            </div>

            <div class="widget">
                <div class="latestnewshome">
                    <h3>Últimas Perguntas</h3> <ul>
    @foreach (var lastestAnswer in (List<KeyValuePair<int, string>>)ViewBag.LastestQuestions)
    {
        <li class="clearfix">
            <a class="widget-title" href="@Url.Action("Details", "Question", new { id = lastestAnswer.Key })">@lastestAnswer.Value
        </li>

    }    
</ul>
                </div>
            </div>
            <div class="widget">
                <div class="testimonials">

                    <h3>Depoimentos</h3>

                    <blockquote>
                        <p class="endquote">
                            Realmente, este grupo merece 10, um trabalho muito bem feito.
                        </p>
                    </blockquote>
                    <cite>- Cabral, Igor</cite>         
                </div>
            </div>                          
         </div> <!-- sidebar #end -->
    </div>

</div>

@section scripts{
    <script type="text/javascript">
        function likeAnswer(respostaId) {            
            var valorAtual = parseInt($("#resposta-" + respostaId).html());
            valorAtual++;
            console.log(valorAtual);
            $("#resposta-" + respostaId).html(valorAtual++);
        }

        function unlikeAnswer(respostaId) {
            var valorAtual = $("#resposta-" + respostaId).html();
            valorAtual--;
            $("#resposta-" + respostaId).html(valorAtual++);
        }

        $(document).ready(function () {
            $("#commentform").on("submit", function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/api/answer',
                    data: JSON.stringify({
                        QuestionId: $("#QuestionId").val(),
                        AuthorId: $("#AuthorId").val(),
                        Description: $("#Description").val()
                    }),
                    success: function (data) { window.location.reload(); },
                    error: function (data) { window.location.reload();},
                    contentType: "application/json",
                    dataType: 'json'
                });             
                
            })
        })
    </script>
}
