@model Fiap.StackOverflow.Web.ViewModels.QuestionViewModel

@{
    ViewData["Title"] = "DoggyOverThrone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="wrapper" style="margin-top: 80px;">
    <p>
        <a href="@Url.Action("Create", "Question")" class="b_askquestions" style="max-width: 300px;">Faça uma Pergunta</a>
    </p>

    <div id="content">

        @foreach (var item in Model.Questions)
        {
            <div class="question_list">
                <span class="answers_total">
                    <a href="@Url.Action("Details", "Question", new { id = item.Id })">@item.Answers.Count </a>   Respostas
                </span>

                <h3> <a href="what-is-worpress/index.html" rel="bookmark" title="Permanent Link to What is worpress">@Html.ActionLink(item.Title, "Details", new { id = item.Id })</a></h3>
                <p>
                    <span class="user">Pergunta por: <strong>@Html.DisplayFor(modelItem => item.AuthorName)</strong> </span>
                    <span class="views"><b>@item.ViewCount </b> visualizações </span>
                    @*<span class="ptags">
                        @foreach (var tag in item.Tags)
                        {
                            var text = tag + " ";
                            <a href="#" rel="tag">
                                @Html.DisplayFor(tagItem => text)
                            </a>
                        }
                    </span>*@
                    <span class="pcate">  <a href="#" rel="category tag">@item.Category</a> </span>
                </p>
            </div><!-- question #end -->
        }
        <!-- question #end -->        

    </div> <!-- sidebar #end -->
</div>