@model QuestionViewModel

@{
    ViewData["Title"] = "QuestionsByAuthor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Perguntas por Autor: "<em style="color:red;font-style:italic;">@Model.Author</em> " </h2>


@foreach (var item in Model.Questions.OrderByDescending(x => x.Id))
{
    var categoria = item.Category != null ? item.Category?.Name : "Sem categoria";
    <div class="question_list">
        <span class="answers_total">
            <a asp-controller="Question" asp-action="Details" asp-route-id="@item.Id">@item.Answers.Count </a>   Respostas
        </span>

        <h3> <a asp-controller="Question" asp-action="Details" asp-route-id="@item.Id"> @item.Title </a> </h3>
        <p>
            <span class="user">Por: <strong><a href="#" title="Por: @item.Author.Name " rel="author">@item.Author.Name</a></strong> </span>
            <span class="views"><b>@item.ViewCount </b> visualizações </span>
            <span class="ptags">
                @foreach (var tag in item.QuestionTags)
                {
                    var text = $"[{tag.Tag?.Value}]";
                    <a href="#" rel="tag">
                        @Html.DisplayFor(tagItem => text)
                    </a>
                }
            </span>
            <span class="pcate">
                <a href="#" rel="category tag">@categoria</a>
            </span>
        </p>


    </div>
}
